body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1F2937;
    padding: 0 400px;
}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

.container-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 180px;
    margin: 80px 0;
}

.description {
    display: flex;
    flex-direction: column;
}

.container-description p {
    max-width: 400px;
}

.img {
    background-color: grey;
    text-align: center;
    padding: 80px;
}

.container-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
}

/*
.container-info h1 {
    text-align: center;
}
*/

.illustrations {
    display: flex;
    gap: 32px;
}

.illustration {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.illustration p {
    width: 140px;
    text-align: center;
}

.frame {
    border: 2px solid blue;
    border-radius: 12%;
    height: 140px;
    width: 140px;
}

.container-quote {
    background-color: #e5e7eb;
/*   display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;*/
    padding: 60px 550px;
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1f2937;
}

.quote {
    text-align: justify;
}

.author {
    font-weight: bold;
    text-align: right;
}

.container-sign-up {
    display: flex;
    justify-content: center;
    padding: 60px;
}

.sign-up {
    background-color: #3882f6;
    border: 4px solid #3882F6;
    border-radius: 12px;
    padding: 40px 80px;
    display: flex;
    justify-content: space-between;
    gap: 128px;
    color: white;
}

.text h3, p {
    margin: 0;
}

button {
    background-color: transparent;
    padding: 0 32px;
    border: 2px solid white;
    border-radius: 12px;
    color: white;
}

footer {
    background-color: #1F2937;
    padding: 32px;
    text-align: center;
    color: white;
}