body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1F2937;
    padding: 0 400px;
}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

.container-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 180px;
    margin: 80px 0;
}

.description {
    display: flex;
    flex-direction: column;
}

.container-description p {
    max-width: 400px;
}

.img {
    background-color: grey;
    text-align: center;
    padding: 80px;
}

.container-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
}

/*
.container-info h1 {
    text-align: center;
}
*/

.illustrations {
    display: flex;
    gap: 32px;
}

.illustration {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.illustration p {
    width: 140px;
    text-align: center;
}

.frame {
    border: 2px solid blue;
    border-radius: 12%;
    height: 140px;
    width: 140px;
}

